body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.result-box {
    margin-top: 15px;
    font-size: 16px;
}
